body {
    background-color: #A8DADC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #457B9D;
    height: 250px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 30px;
    justify-content: center;
  }

  header .header-content {
    max-width: 1100px;
    display: flex;
    width: 100%;
  }

  header img {
    border-radius: 15px;
    width: 162px;
    height: 210px;
    object-fit: cover;
    margin-right: 30px;
  }

  header h1 {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  header h2 {
    font-size: 22px;
    margin-top: 0;
  }

p {
    color: #1D3557;
    ;
}

.thing {
    color: #d39353;
}

#thing {
    color: #457B9D;
}

button{
    background-color: #457B9D;
    color: #1D3557;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    border-radius: 8px;
    
}

#image{
    border-radius: 15px;
}



